<nav class="navbar">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a href="/" class="nav-link">
                <i class="fas fa-address-card"></i>
                <span class="link-text">Index</span>
            </a>
        </li>
        <% if(user.admin){ %>
        <li class="navbar-item">
            <a href="/admin" class="nav-link">
                <i class="fas fa-user-cog"></i>
                <span class="link-text">Admin</span>
            </a>
        </li>
        <% } %>
        <li class="navbar-item">
            <a href="/chat" class="nav-link">
                <i class="fas fa-comment"></i>
                <span class="link-text">Chat</span>
            </a>
        </li>
        <li class="navbar-item">
            <form id="logout" action="/logout?_method=DELETE" method="post">
                <a href="javascript:;" onclick="document.getElementById('logout').submit();" class="nav-link">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="link-text">LogOut</span>
                </a>
                <input type="hidden">
            </form>
        </li>
    </ul>
</nav>