<nav class="navbar">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a href="/" class="nav-link">
                <i class="fas fa-home"></i>
                <span class="link-text">Startseite</span>
            </a>
        </li>
        <% if(user.admin){ %>
        <li class="navbar-item">
            <a href="/admin" class="nav-link">
                <i class="fas fa-chart-line"></i>
                <span class="link-text">Dashboard</span>
            </a>
        </li>
        <% } %>
        <li class="navbar-item">
            <a href="/user" class="nav-link">
                <i class="fas fa-users"></i>
                <span class="link-text">User</span>
            </a>
        </li>
        <li class="navbar-item">
            <a href="/chat" class="nav-link">
                <i class="fas fa-comment"></i>
                <span class="link-text">Chat</span>
            </a>
        </li>
        <li class="navbar-item">
            <form id="logout" action="/logout?_method=DELETE" method="post">
                <a href="javascript:;" onclick="document.getElementById('logout').submit();" class="nav-link">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="link-text">LogOut <%= user.username %></span>
                </a>
                <input type="hidden">
            </form>
        </li>
    </ul>
</nav>