@import url(https://fonts.googleapis.com/css?family=Bad+Script);

body {
  margin: 0;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 12pt;
}
#header {
  background-color: #fff;
  font-family: "Bad Script", bold;
}
